<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EventFinder</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EventFinder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

        @RenderBody()
    
    <footer class="footer navbar navbar-inverse">
        <div class="container">
            <p class="text-muted navbar-text">Copyright 2015 - EventFinder</p>
        </div>
    </footer>

        <!--Scripts-->
        <!--    - gmaps.js : it contains the code to create the map and add markers and infowindows-->
        <!--    - combiner.js: it gets the events and uses gmaps methods to mark the map-->
        <!--    - start.js : contains the callback function  (start) used in the google maps Oauth-->           
        <script src="~/Scripts/gmaps.js"></script>
        <script src="~/Scripts/combiner.js"></script>
        <script src="~/Scripts/start.js"></script>
        
        <!--jQuery + Bootstrap-->
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        
        <!--Google maps API OAuth-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLEheYWVRUA4WtFusFb-vcqHIWmkhScrM&callback=start" async defer></script>
</body>
</html>
